
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */

body {
  font-family: Arial, sans-serif;
  font-style: italic;
  background-image: url("images/background-image.jpg");
  background-size: cover;
  background-position: center;
  }

/* Header */

header {
  background-color: #ffffff00;
  padding: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 35px;
}

/* Navigation */

.navigation {
  position: absolute;
  top: 20px;
  right: 20px;
  margin-top: 10px;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline-block;
  margin-left: 10px;
}

.navigation a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navigation a:hover {
  background-color: #fff;
  color: #333;
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

/* Main section */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding: 40px;
  text-align: center;
  background-color: #a77008bd;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color:#ffdccb;
  width: 100%;
}

p {
  font-size: 25px;
  font-family: 'Times New Roman', Cambria, Georgia, serif;
  color: beige;
  text-align: center;
}

/* Product cards */

.product-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px #0000001a;
  padding: 15px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card img {
  width: 200px;
  margin-bottom: 20px;
}

.product-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-card p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Explore button */

.explore-button {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}

.explore-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #146d4ee4;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.explore-button a:hover {
  background-color:  #fff;
  color: #146d4ee4;
}

/* Feature cards */

.feature-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px #0000001a;
  padding:10px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-10px);
}

.feature-card img {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.feature-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Subscribe form */

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.subscribe-form input[type="email"] {
  padding: 10px;
  font-size: 20px;
  border-radius: 5px 0 0 5px;
  border: none;
  width: 300px;
}

.subscribe-form button[type="submit"] {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #146d4ee4;
  color: #fff;
  border-radius: 0 5px 5px 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe-form button[type="submit"]:hover {
  background-color: #ffdccb;
  color: #333;
}

/* Contact icons */

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.contact-icons img {
  margin: 0 10px;
  width: 50px;
  margin-top: 10px;
}

/* Footer */

footer {
  background-color: #000000b3;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 60px;
  margin-top: 20px;
}

.footer-column {
  flex-basis: 25%;
  margin-bottom: 20px;
}

.footer-column h4 {
  margin-bottom: 20px;
  color: #ffdccb;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}